##############################################################################
## Bot Configuration Variables                                              ##
##############################################################################

#              BOT_DEBUG_MODE: Boolean
# Defaults to: false
# Description: Toggles the debug mode for the bot. Use this in case you want
#              to change the bot's code and you are in "development" mode.
BOT_DEBUG_MODE='false'

##############################################################################
## TMDB Configuration Variables                                             ##
##############################################################################

# [REQUIRED]   TMDB_API_ACCESS_TOKEN: String
# Description: TMDB is the API we use for collecting movie information. Use
#              this var for setting your Read Access Token. Please keep in
#              mind that we do not use the API Key. You can read more about
#              the API in the link below.
# Link:        https://developer.themoviedb.org/docs/getting-started
TMDB_API_ACCESS_TOKEN='...'

#              TMDB_IMAGE_QUALITY: Integer
# Defaults to: 50
# Description: Every image from TMDB gets optimized. Use this env var for
#              setting the quality that the optimization process will use.
#              Values under 50 might cause really weird images... but lighter!
TMDB_IMAGE_QUALITY=50


##############################################################################
## BlueSky Configuration Variables                                          ##
##############################################################################

# [REQUIRED]   BSKY_HANDLE: String
# Description: The handle is the content after your @ that forms your username
#              in BlueSky. Add it in this env var, but without the @ symbol.
BSKY_HANDLE='...'

# [REQUIRED]   BSKY_PASSWORD: String
# Description: The password that the app will use to log into your BlueSky
#              account. Please use App Passwords than using your main
#              password. They limit the access from the API and prevents
#              attackers from damaging your account.
BSKY_PASSWORD='...'

